{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block headerTitle %}
  Register
{% endblock %}

{% block content %}
  <div class="w-50 m-auto">
    {{ form_start(registrationForm) }}
    <fieldset>
      <legend>
        Your login informations :
      </legend>
      {{ form_row(registrationForm.username) }}
      {{ form_row(registrationForm.email) }}
      {{
        form_row(
          registrationForm.plainPassword,
          {
            label: 'Password'
          }
        )
      }}
    </fieldset>
    <fieldset class="bg-primary p-3 rounded-3">
      <legend class="text-light px-2">
        Your personnal informations :
      </legend>
      <div class="row text-light">
        <div class="col">
          {{ form_row(registrationForm.name) }}
        </div>
        <div class="col">
          {{ form_row(registrationForm.lastname) }}
        </div>
      </div>
      <div class="row text-light">
        {{ form_row(registrationForm.adress) }}
      </div>
      <div class="row text-light">
        <div class="col">
          {{ form_row(registrationForm.zipcode) }}
        </div>
        <div class="col">
          {{ form_row(registrationForm.city) }}
        </div>
      </div>
    </fieldset>

    {# {{ form_row(registrationForm.agreeTerms) }} #}

    <button type="submit" class="mt-4 btn btn-primary rounded">Register</button>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
