{% extends 'base.html.twig' %}

{% block title %}
	Make A Category | Blog
{% endblock %}

{% block imgheader %}url('/assets/img/post-sample-image.jpg')
{% endblock %}

{% block headerTitle %}
	Create a category
{% endblock %}

{% block subheading %}
	What's NEW ?!
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
	<main class="mb-4">
		<div class="container px-4 px-lg-5" style='font-family: " open sans", -apple-system, blinkmacsystemfont, " segoe ui", roboto, " helvetica neue", arial, sans-serif, " apple color emoji", " segoe ui emoji", " segoe ui symbol", " noto color emoji";'>

			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			<div class="my-4">
				{{ form_label(form.name) }}
				{{ form_errors(form.name) }}
				{{ form_widget(form.name) }}
				{{ form_help(form.name) }}
			</div>
			{{ form_end(form) }}

		</div>
	</main>
{% endblock %}
