<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="/css/styles.css" rel="stylesheet"/>
	</head>
</html>

<body>
	<!-- Navigation-->
	<nav class="bg-dark navbar navbar-expand-lg navbar-light" id="mainNav">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="{{path('post_home')}}">Start Bootstrap</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto py-4 py-lg-0">
					<li class="nav-item">
						<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('post_home')}}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('home_about')}}">About</a>
					</li>
					{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('cat.index')}}">Categories</a>
						</li>
						{% else %}
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('post_create')}}">Make a Post</a>
						</li>
						{% else %}
					{% endif %}
					<li class="nav-item">
						<a class="nav-link px-lg-3 py-3 py-lg-4" href="{{path('home_contact')}}">Contact</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4 btn btn-secondary rounded" href="{{path('admin')}}">Dashboard</a>
						</li>
					{% elseif is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4 btn btn-secondary rounded" href="{{path('app_user')}}">My Account</a>
						</li>
						{% else %}
					{% endif %}
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4 ms-2 btn btn-danger rounded" href="/logout">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link px-lg-3 py-3 py-lg-4 btn btn-primary rounded" href="/login">Login</a>
						</li>
					{% endif %}
					{% if app.user %}
						{% else %}
							<li class="nav-item">
								<a class="nav-link px-lg-2 py-3 py-lg-4 ms-2 btn btn-secondary rounded" href="{{path('app_register')}}">Register</a>
							</li>
					{% endif %}
				</ul>
			</div>
		</body>
	</body>
</body></body>
</div>
</nav>

<div class="mt-5 pt-5 container bg-dark">
	<ul class="d-flex justify-content-center list-unstyled">
		<li class="m-2"><a href="{{path("app_user")}}" class="text-light btn">My Profile</a></li>
		<li class="m-2"><a href="{{path("app_edit")}}" class="text-light btn btn-primary rounded">Modify your profile</a></li>
		<li class="m-2"><a href="{{path("app_edit_password")}}" class="text-light btn btn-primary rounded">Modify your password</a></li>
		<li class="m-2"><a href="{{path("user_delete")}}" onclick="return confirm('Are you sure to delete your account?')" class="text-light btn btn-danger rounded">Delete your account</a></li>
	</ul>
</div>

{% block content %}{% endblock %}

<footer class="border-top"><div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5 justify-content-center">
	<div class="col-md-10 col-lg-8 col-xl-7">
		<ul class="list-inline text-center">
			<li class="list-inline-item">
				<a href="#!">
					<span class="fa-stack fa-lg">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="#!">
					<span class="fa-stack fa-lg">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="#!">
					<span class="fa-stack fa-lg">
						<i class="fas fa-circle fa-stack-2x"></i>
						<i class="fab fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
		</ul>
		<div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
	</div>
</div></div></footer><!-- Bootstrap core JS--><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script><!-- Core theme JS--><script src="js/scripts.js"></script></body></html>
