{% extends 'base.html.twig' %}

{% block title %}
  Home | Blog
{% endblock %}

{% block headerTitle %}
  Home
{% endblock %}

{% block subheading %}
  Welcome !
{% endblock %}

{% block content %}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for post in posts %}
          <div class="post-preview">
            <a href="{{
              path(
                'post.show',
                {
                  id: post.id
                }
              )
              }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <a href="{{
                path(
                  'cat.list',
                  {
                    id: post.category.id
                  }
                )
                }}"
                class="bg-primary text-light p-1 rounded">
                {{ post.category.name }}
              </a>
              <h3 class="post-subtitle">
                {{ post.description }}
              </h3>
            </a>
            <div class="post-meta d-flex justify-content-between align-items-center">
              <p>
                Posted by
                <a href="#!">Start Bootstrap</a>
                {{ post.createdAt|date('m/d/Y') }}
              </p>
              <div class="text-center">
                <i class="fa-solid fa-heart fs-1"></i>
                <p class="m-0">
                  0 likes
                </p>
              </div>
            </div>
          </div>
          <hr class="my-4" />
        {% endfor %}

        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
