{% extends 'base.html.twig' %}

{% block title %}
	Post Details | Blog
{% endblock %}

{% block imgheader %}url('/assets/img/post-bg.jpg')
{% endblock %}

{% block headerTitle %}
	{% if app.user %}
		{{post.title}}
	{% else %}
		<h2>You need to register</h2>
	{% endif %}
{% endblock %}

{% block subheading %}
	{% if app.user %}
		{{post.description}}
		<br>
		<br>
		<a href="{{path('cat.list', {'id': post.category.id})}}" class="bg-primary text-light p-1 rounded my-1">{{post.category.name}}</a>
	{% else %}
		<h2>Register now</h2>
		<br>
		<a href="{{path('app_register')}}" class="bg-primary text-light p-1 rounded my-1">Register now!</a>
		<span class="text-light">or</span>
		<a href="{{path('app_login')}}" class="bg-primary text-light p-1 rounded my-1">Log in!</a>
	{% endif %}
{% endblock %}

{% block content %}
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">


				<div class="col-md-10 col-lg-8 col-xl-7">
					{% if app.user %}
						<p>{{post.content}}</p>
						<p>
							Placeholder text by
							<a href="http://spaceipsum.com/">Space Ipsum</a>
							&middot; Images by
							<a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
						</p>
					{% else %}
						<h1>Vous devez être connecté pour accéder au détails de nos posts</h1>
					{% endif %}
				</div>
			</div>
		</div>
	</article>
{% endblock %}
